meter::-webkit-meter-bar {
    background: #FFF;
    width:200px;
}
meter::-webkit-meter-optimum-value {
    background: linear-gradient(to bottom, #16d47b);
}
meter::-webkit-meter-suboptimum-value {
    background: linear-gradient(to bottom, #fbb450);
}
meter::-webkit-meter-even-less-good-value {
    background: linear-gradient(to bottom, #ee5f5b);
}